### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Maven ###
target/

### secrets ###
secrets/
src/main/resources/db/migration/oraclecloud/INSERT_APP_USER_ADMIN.sql

# Ignore example client files
/src/main/java/com/marketpilot/client/RegistrationClientExample.java
/src/main/java/com/marketpilot/client/AuthenticationClientExample.java
